{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <h2>Looks like something went wrong</h2>
    {{  form_start(form) }}
    {{  form_widget(form) }}
    <input type="submit" value="Send confirmation email again">
    {{  form_end(form) }}
{% endblock %}
