{% extends 'base.html.twig' %}


{% block body %}
    <div>
        <h1>It seems you're new here <small>take a moment to complete your profile</small></h1>

        <div class="">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}